.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    padding-top: 92px;
    padding-right: 24px;
    padding-bottom: 96px;
    padding-left: 24px;
    background-color: #fff;
}


.logo_svg {

    width: 148px;
    min-height: 105px;
    padding-top: 13px;
    padding-left: 5px;
    cursor: pointer;
}


.menu_list_link {
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    gap: 32px;
    padding-left: 27px;
    list-style: circle;
    text-underline-position: under;
}


.list_link_active {
    list-style-type: none;
    text-decoration: none;
}

.menu_element_active {
    text-decoration: none;
}


.contacts {
    padding-top: 15px;
    padding-left: 35px;
    font-style: normal;

    line-height: 25px;
    font-size: 18px;
}


.contacts_title {
    text-underline-position: under;
    list-style-type: none;
}

main {
    font-family: 'Raleway', sans-serif;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 165px 50px 44px 50px;
    width: 1100px;
    min-height: 757px;



}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
    background-color: #000;
}


.title_cover {
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 1000px;

    letter-spacing: normal;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;

}



.text_start {

    letter-spacing: 30px;


}

.text_type_start_right {

    letter-spacing: 60px;
}



.text_type_center_right {

    letter-spacing: 60px;
}




.text_type_center {

    padding-top: 12px;
    letter-spacing: 30px;

    padding-left: 287px;
}




.text_type_left {
    padding-top: 5px;

    letter-spacing: 60px;
    padding-left: 585px;

}

.text_type_left_end {
    letter-spacing: 30px;
}

.cover_content_title {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 130px;
    align-items: center;
    position: relative;
    font-size: 22px;

}


.cover_text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    margin-right: 80px;
    text-align: center;

}

.cover_button {
    text-align: center;
    font-size: 22px;
    padding: 12px 32px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    line-height: normal;
    border: 1px solid #fff;
    color: #fff;




}

.lots {
    padding: 0 25px;
    padding-top: 179px;



}


.lots_title {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 27px;
    padding-left: 40px;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    font-family: 'Raleway';
}


.card_title {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    width: 253px;
    min-height: 82px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    text-decoration-line: underline;
    text-underline-position: under;
}



.card_list {
    max-height: 560px;
    list-style-type: none;
}



.card_link_content {
    display: block;
    height: 100%;
    text-decoration: none;
}


.card_type {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: auto;
    height: 100%;
    padding: 50px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_film {
    background-image: url(../images/card-lot-01.jpg);

}

.card_book {
    background-image: url(../images/card-lot-02.jpg);

}

.card_picture {
    background-image: url(../images/card-lot-03.jpg);

}



.card_film_text {
    font-size: 20px;
    color: #fff;
    position: relative;
}

.card_book_text {
    font-size: 20px;
    color: #fff;
    height: 140%;
    line-height: 24px;
    position: relative;
}

.card_picture_text {
    font-size: 20px;
    color: #fff;
    position: relative;
}

.symbol {
    letter-spacing: 0.2em;
}

.more {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
    display: block;
    text-underline-position: under;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    
    padding-left: 50px;
}

.about_logo {
    display: flex;
    border-radius: 50%;
    background-color: #000;
    width: 240px;
    min-height: 240px;
    margin-left: 21px;
    margin-top: 184px;
    padding-left: 50px;
}

.logo_about_link {
    width: 148px;
}

.about_title {
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-left: 27px;
    margin-top: 285px;
    margin-bottom: 100px;

}

.text_content_about {
    padding-left: 31px;
    font-size: 20px;
    width: 693px;
    min-height: 312px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 22px;
}

.footer_content {
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    padding-left: 15px;
    padding-top: 165px;

}

.social_list {
width: 240px;
    padding-top: 20px;
    margin-left: 143px;
    list-style: none;
    display: flex;
    
    gap: 48px;
    cursor: pointer;

}



.contacts_title_footer {
    list-style: none;
    font-size: 18px;
    line-height: 25px;
    text-underline-position: under;
    font-style: normal;
}



.menu_list_link_footer {
    padding-top: 20px;
    padding-left: 90px;
    align-items: center;
    gap: 0;
    flex-direction: column;
    list-style-type: none;
}

.menu_element_active_footer {
    text-decoration: none;
}